---
import Layout from "../components/Layout.astro";
const dishes = [
  {
    name: "tax_free",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F48a7b9b8-22f3-4f50-9a6b-ce28e7ec214d%2Frecipe25.jpg?table=block&id=db606e9b-ea63-4c2d-95b1-57d3c6e70f01&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "まるとかく",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F0e1fc19b-1f63-457b-8c2d-387aa4b78fd5%2Frecipe21.jpg?table=block&id=17c75535-ec81-4480-b92f-eeeda42d3539&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "ボル父",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2Fc281e764-56ea-405b-abb0-e87f4210664d%2Frecipe20.jpg?table=block&id=73dc0263-f966-4c11-818b-614b23a48bd2&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "aketami",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F2a38ab6a-a419-4d7e-a94e-4308781127fe%2F9.jpg?table=block&id=451c7cb8-ec5f-4ec6-bc77-d3bda6ea265b&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=1940&userId=&cache=v2",
  },
  {
    name: "東京工業大学デジタル創作同好会traP",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2Fa4b0379f-d37a-4ce1-9d3a-b5035ec18a30%2Frecipe26.jpg?table=block&id=31fcfa00-8a93-4a08-9ab8-1a8940f68bb4&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=1940&userId=&cache=v2",
  },
  {
    name: "星グミ",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2Fe45aa327-d040-4c85-85a2-d53c5eea6140%2Frecipe6.jpg?table=block&id=2f8130ee-98bf-41c7-907b-75fb735c9a3e&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "iChemy",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2Fd4c24bca-e6ee-406e-a070-07dfdbc474c2%2F8.jpg?table=block&id=c9baf27e-1bfa-4575-9d21-37ceec3af499&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=1940&userId=&cache=v2",
  },
  {
    name: "ザンギ丼",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F791ce0aa-de00-4d53-94b9-b763832767e6%2Frecipe8.jpg?table=block&id=763f7d6c-37bc-47b4-a59b-d76a481c53be&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "でかでかトマト",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F1e939bc6-b0e4-48ca-82c9-9fc3af08f592%2F4.jpg?table=block&id=5298e7b2-b63f-40e4-bae1-4a70358a4855&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "ほしグミ",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F8fb375b0-7302-4f9d-98e1-276ded721d56%2Frecipe12%25E3%2581%25AE%25E3%2582%25B3%25E3%2583%2592%25E3%2582%259A%25E3%2583%25BC.jpg?table=block&id=ef76f7ca-de7a-4965-be48-aead126f459b&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=1940&userId=&cache=v2",
  },
  {
    name: "レネ・マグリット",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F534ef9c6-78c3-4974-b593-8ec7cd4ed792%2Frecipe12.jpg?table=block&id=b0d37968-4086-4c98-9465-82d9e0aef761&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "レオナルド・ダ・ヴィンチ",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2Ff34dfb79-ff28-46f2-86fd-ad2cd2034c76%2Frecipe15.jpg?table=block&id=e81dac83-cddc-4033-ac0c-da9ee95d54db&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "北の又三郎",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2Fb088afed-7905-4e8e-81cc-86313747bb7e%2Frecipe1.png?table=block&id=3c926e54-db66-4ee8-b9a6-4e004f9c8da5&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "パペットマメット",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2Faefb87a5-1faa-4dc2-b52d-51b23474c630%2Frecipe2.png?table=block&id=0bc182e9-27a1-4f3f-b59b-368cddc3db42&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "ドラゴンカーセックス",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F3afc2d3b-2e1b-4e11-ad18-83f6cdda6cb5%2Frecipe3.png?table=block&id=29240159-e18a-454a-afb0-eeb553a59fc6&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  {
    name: "野菜弁当",
    imageSrc:
      "https://angry-vanadium-ceb.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F488ae9e4-91fb-44da-b02a-428688e6feaa%2F4565b7b4-5d0c-43b5-9a29-50f644f93587%2Frecipe4.jpg?table=block&id=5f0e4cde-8e26-4d64-8230-6edda888f991&spaceId=488ae9e4-91fb-44da-b02a-428688e6feaa&width=2000&userId=&cache=v2",
  },
  // ...他の料理データ
];
---

<Layout>
  <article>
    <div class="dish-grid">
      {
        dishes.map((dish, index) => (
          <div class={`dish ${index % 4 === 3 ? "last-in-row" : ""}`}>
            <img src={dish.imageSrc} alt={dish.name} />
            <div class="dish-name">{dish.name}</div>
          </div>
        ))
      }
    </div>
  </article>

  <style>
    article {
      max-width: 1100px;
      margin: 40px auto;
      padding: 40px;
      background-color: #ffffff; /* 記事は白背景 */
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    body {
      font-family: "Roboto", sans-serif; /* モダンなフォントを使用 */
      background-color: #fffff0; /* 薄いオレンジ色の背景 */
      color: #333; /* 濃い文字色 */
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .dish-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      margin-bottom: 50px;
    }

    .dish {
      height: 250px; /* `.dish` 要素の高さを固定 */
      border-radius: 15px;
      overflow: hidden; /* 余分なコンテンツを隠す */
      transition: box-shadow 0.3s;
      /* その他のスタイル */
    }

    .last-in-row {
      border-right: none;
    }

    .dish img {
      width: 100%; /* 幅をコンテナに合わせる */
      height: 200px; /* 画像の高さを200pxに固定 */
      object-fit: cover; /* 画像がコンテナに収まるように調整 */
      display: block;
      transition: transform 0.3s;
    }

    .dish:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .dish-name {
      padding: 10px;
      text-align: center;
      background-color: #ffffff;
      font-size: 18px;
      font-family: "Helvetica Neue", sans-serif;
      overflow: hidden; /* 名前が長い場合にテキストを隠す */
      text-overflow: ellipsis; /* オーバーフローしたテキストに省略記号を表示 */
      white-space: nowrap; /* テキストを一行に保つ */
    }

    @media (max-width: 768px) {
      .dish-name {
        font-size: 16px; /* 小さな画面でフォントサイズを小さくする */
        white-space: normal; /* 小さな画面ではテキストの折り返しを許可 */
      }
      .dish {
        height: 200px; /* タブレットサイズでの高さ調整 */
      }

      .dish img {
        height: 150px; /* タブレットサイズでの画像の高さ調整 */
      }
      .dish-grid {
        grid-template-columns: repeat(2, 1fr); /* タブレットサイズで3列に */
      }
    }

    @media (max-width: 480px) {
      @media (max-width: 480px) .dish {
        height: 180px; /* スマートフォンサイズでの高さ調整 */
      }

      .dish img {
        height: 130px; /* スマートフォンサイズでの画像の高さ調整 */
      }
      .dish-grid {
        grid-template-columns: repeat(2, 1fr); /* スマートフォンサイズで2列に */
      }
    }
  </style>
</Layout>
