---
import Header from "./Header.astro";
import "../styles/global.css";
console.log(Astro.url.pathname);
const defaultDescription: string = "Are you hungry?";

type LayoutProps = {
  lang?: string;
  pageTitle?: string;
  description?: string;
};

const props: LayoutProps = Astro.props;
---

<html lang={props.lang ? props.lang : "en"}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <title>Are You Hangry?</title>
    <meta
      name="description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta name="author" content="I'm hungry" />
    <meta property="og:title" content="Are You Hangry?" />
    <meta
      name="og:description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta
      property="og:image"
      content="https://private-user-images.githubusercontent.com/104891359/291032975-6136d0b0-4886-4d5e-88d9-be53507037bb.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTEiLCJleHAiOjE3MDI3OTY2NzIsIm5iZiI6MTcwMjc5NjM3MiwicGF0aCI6Ii8xMDQ4OTEzNTkvMjkxMDMyOTc1LTYxMzZkMGIwLTQ4ODYtNGQ1ZS04OGQ5LWJlNTM1MDcwMzdiYi5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBSVdOSllBWDRDU1ZFSDUzQSUyRjIwMjMxMjE3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDIzMTIxN1QwNjU5MzJaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1jYTE3ODcxMzc1MDU1YzRlYjE1NTNlMWNlMDQ3NGZmOTViMTZlNzY5MDc2MWM3NzliN2YwZTY1Y2M2ZDY0ZGNhJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.-uIFywBH0dQexr7m6itcxcjBHRXoPfI49Fob-P3fjkE"
    />
    <meta property="og:url" content="https://www.google.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Are You Hangry?" />
    <meta name="twitter:title" content="Are You Hangry?" />
    <meta
      name="twitter:description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta
      name="twitter:image"
      content="https://private-user-images.githubusercontent.com/104891359/291032975-6136d0b0-4886-4d5e-88d9-be53507037bb.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTEiLCJleHAiOjE3MDI3OTY2NzIsIm5iZiI6MTcwMjc5NjM3MiwicGF0aCI6Ii8xMDQ4OTEzNTkvMjkxMDMyOTc1LTYxMzZkMGIwLTQ4ODYtNGQ1ZS04OGQ5LWJlNTM1MDcwMzdiYi5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBSVdOSllBWDRDU1ZFSDUzQSUyRjIwMjMxMjE3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDIzMTIxN1QwNjU5MzJaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1jYTE3ODcxMzc1MDU1YzRlYjE1NTNlMWNlMDQ3NGZmOTViMTZlNzY5MDc2MWM3NzliN2YwZTY1Y2M2ZDY0ZGNhJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.-uIFywBH0dQexr7m6itcxcjBHRXoPfI49Fob-P3fjkE"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@taxfree_python" />
    <meta name="twitter:creator" content="@taxfree_python" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
