---
import Header from "./Header.astro";
import "../styles/global.css";
console.log(Astro.url.pathname);
const defaultDescription: string = "Are you hungry?";

type LayoutProps = {
  lang?: string;
  pageTitle?: string;
  description?: string;
};

const props: LayoutProps = Astro.props;
---

<html lang={props.lang ? props.lang : "en"}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <title>kooq</title>
    <meta
      name="description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta name="author" content="I'm hungry" />
    <meta property="og:title" content="iGEM TokyoTech" />
    <meta
      name="og:description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta
      property="og:image"
      content="https://private-user-images.githubusercontent.com/104891359/291031899-84d034dc-7e0c-475d-8472-06e9d016d96c.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTEiLCJleHAiOjE3MDI3OTQ3NjMsIm5iZiI6MTcwMjc5NDQ2MywicGF0aCI6Ii8xMDQ4OTEzNTkvMjkxMDMxODk5LTg0ZDAzNGRjLTdlMGMtNDc1ZC04NDcyLTA2ZTlkMDE2ZDk2Yy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBSVdOSllBWDRDU1ZFSDUzQSUyRjIwMjMxMjE3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDIzMTIxN1QwNjI3NDNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kMWJjOTNhODc1YTU0MjFiNzY1Njk5ODJhNmYwNWNiNTAwODY0NTg3OWVhY2JkOGRkNTkxNDFmZjYxNjU3OTY4JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.sNNnaPwdiye0ToqEiVzO03aRyTBKLiyulhe2UQ0ojdw"
    />
    <meta property="og:url" content="https://www.igemtokyotech.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="iGEM TokyoTech" />
    <meta name="twitter:title" content="iGEM TokyoTech" />
    <meta
      name="twitter:description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta
      name="twitter:image"
      content="https://private-user-images.githubusercontent.com/104891359/291031899-84d034dc-7e0c-475d-8472-06e9d016d96c.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTEiLCJleHAiOjE3MDI3OTQ3NjMsIm5iZiI6MTcwMjc5NDQ2MywicGF0aCI6Ii8xMDQ4OTEzNTkvMjkxMDMxODk5LTg0ZDAzNGRjLTdlMGMtNDc1ZC04NDcyLTA2ZTlkMDE2ZDk2Yy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBSVdOSllBWDRDU1ZFSDUzQSUyRjIwMjMxMjE3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDIzMTIxN1QwNjI3NDNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kMWJjOTNhODc1YTU0MjFiNzY1Njk5ODJhNmYwNWNiNTAwODY0NTg3OWVhY2JkOGRkNTkxNDFmZjYxNjU3OTY4JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.sNNnaPwdiye0ToqEiVzO03aRyTBKLiyulhe2UQ0ojdw"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@igem_tokyotech" />
    <meta name="twitter:creator" content="@igem_tokyotech" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
