---
import Header from "./Header.astro";
import "../styles/global.css";
console.log(Astro.url.pathname);
const defaultDescription: string = "Are you hungry?";

type LayoutProps = {
  lang?: string;
  pageTitle?: string;
  description?: string;
};

const props: LayoutProps = Astro.props;
---

<html lang={props.lang ? props.lang : "en"}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <title>kooq</title>
    <meta
      name="description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta name="author" content="I'm hungry" />
    <meta property="og:title" content="iGEM TokyoTech" />
    <meta
      name="og:description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta property="og:image" content="/hoge.png" />
    <meta property="og:url" content="https://www.igemtokyotech.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="iGEM TokyoTech" />
    <meta name="twitter:title" content="iGEM TokyoTech" />
    <meta
      name="twitter:description"
      content={props.description ? props.description : defaultDescription}
    />
    <meta name="twitter:image" content="/hoge.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@igem_tokyotech" />
    <meta name="twitter:creator" content="@igem_tokyotech" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
